body {
	font-weight: bold;
	text-align: center;
	background: url(image/hisoikoshero.jpg);
	background-size: cover;
}

h1 {
	font-family: Arial;
}

h1,p {
	color: white;
}

#hero1 {
 background: url(image/hisoikos.JPG);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}