<link rel="stylesheet" type="text/css" href="style.css">

body {
	font-weight: bold;
	text-align: center;
	background-image: url("image/hisoikoshero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-family: Arial;
}

h1,p {
	color: white;
}
